<div class="breadcrumbs">
  <div class="container breadcrumbs__container">
    <ul class="breadcrumbs__list list-reset">
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Головна</a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Жінки</a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Одяг</a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Кофти та піджаки</a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link breadcrumbs__link--current">American
          vintage</a></li>
    </ul>
  </div>
</div>
