<div class="card-bottom">
  <div class="container card-bottom__container">
    <div class="card-bottom__content">
      <h2 class="card-bottom__title">
        Схожі товари
      </h2>
      <div class="card-bottom__slider">


        <ul class="card-bottom__list list-reset">
          <div class="swiper">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <li class="card-bottom__item">
                  <div class="card-bottom__image-inner">
                    <span class="card-bottom__sale"></span>
                    <div class="card-bottom__img-wrapper">
                      <picture>
                        <source srcset="img/similar-image.avif" type="image/avif">
                        <source srcset="img/similar-image.webp" type="image/webp">
                        <img class="card-bottom__image" src="img/similar-image.jpg" width="270" height="325"
                          loading="lazy" alt="similar products">
                      </picture>
                    </div>
                    <button class="favorites-btn-10px btn-reset"
                      aria-label="button to select a product to favorites"></button>
                  </div>
                  <h3 class="card-bottom__subtitle">American vintage</h3>
                  <span class="card-bottom__text">Classic Shoes</span>
                  <div class="card-bottom__prices">
                    <span class="card-bottom__old-price">6100 uah</span>
                    <span class="card-bottom__price card-bottom__price--sale">3800 uah</span>
                  </div>
                </li>
              </div>

              <div class="swiper-slide">
                <li class="card-bottom__item">
                  <div class="card-bottom__image-inner">
                    <picture>
                      <source srcset="img/similar-image-2.avif" type="image/avif">
                      <source srcset="img/similar-image-2.webp" type="image/webp">
                      <img class="card-bottom__image" src="img/similar-image-2.jpg" width="270" height="325"
                        loading="lazy" alt="similar products">
                    </picture>
                    <button class="favorites-btn-10px btn-reset"
                      aria-label="button to select a product to favorites"></button>
                  </div>
                  <h3 class="card-bottom__subtitle">American vintage</h3>
                  <span class="card-bottom__text">Classic Shoes</span>
                  <div class="card-bottom__prices">
                    <span class="card-bottom__price">2800 uah</span>
                  </div>
                </li>
              </div>

              <div class="swiper-slide">
                <li class="card-bottom__item">
                  <div class="card-bottom__image-inner">
                    <span class="card-bottom__sale"></span>
                    <div class="card-bottom__img-wrapper">
                      <picture>
                        <source srcset="img/similar-image-3.avif" type="image/avif">
                        <source srcset="img/similar-image-3.webp" type="image/webp">
                        <img class="card-bottom__image" src="img/similar-image-3.jpg" width="270" height="325"
                          loading="lazy" alt="similar products">
                      </picture>
                    </div>
                    <button class="favorites-btn-10px btn-reset"
                      aria-label="button to select a product to favorites"></button>
                  </div>
                  <h3 class="card-bottom__subtitle">Replay</h3>
                  <span class="card-bottom__text">Classic Shoes</span>
                  <div class="card-bottom__prices">
                    <span class="card-bottom__old-price">2999 uah</span>
                    <span class="card-bottom__price card-bottom__price--sale">1800 uah</span>
                  </div>
                </li>
              </div>

            </div>
          </div>
          <div class="slider-btns">
            <div class="swiper-button-prev swiper-button-prev--left"></div>
            <div class="swiper-button-next swiper-button-next--right"></div>
          </div>
        </ul>


      </div>
    </div>
  </div>
</div>
