<div class="card-top">
  <div class="container card-top__container">
    <div class="card-top__content">
      <div class="card-top__left">
        <ul class="card-top__thumbs list-reset">
          <li class="card-top__thumb">
            <img src="img/image-1.jpg" alt="">
          </li>
          <li class="card-top__thumb">
            <img src="img/image-1.jpg" alt="">
          </li>
          <li class="card-top__thumb">
            <img src="img/image-1.jpg" alt="">
          </li>
        </ul>
        <div class="card-top__image-inner">
          <img class="card-top__image-main" src="img/image-main.jpg" alt="">
          <button class="favorites-btn-20px btn-reset" aria-label="button to select a product to favorites"></button>
        </div>

      </div>
      <div class="card-top__right">
        <h2 class="card-top__title">American vintage</h2>
        <span class="card-top__text">Classic Shirt</span>
        <span class="card-top__price">3800 UAH</span>
        <span class="card-top__size">Розмір</span>
        <ul class="card-top__size-list list-reset">
          <li class="card-top__choice">
            <button class="card-top__size-btn btn-reset">XS</button>
          </li>
          <li class="card-top__choice">
            <button class="card-top__size-btn btn-reset">S</button>
          </li>
          <li class="card-top__choice">
            <button class="card-top__size-btn btn-reset">M</button>
          </li>
          <li class="card-top__choice">
            <button class="card-top__size-btn btn-reset">L</button>
          </li>
          <li class="card-top__choice card-top__choice--none">
            <button class="card-top__size-btn card-top__size-btn--not btn-reset">XL</button>
          </li>
          <li class="card-top__choice card-top__choice--none">
            <button class="card-top__size-btn card-top__size-btn--not btn-reset">XP</button>
          </li>
        </ul>
        <button class="card-top__size-table-btn btn-reset">Таблиця розмірів</button>
        <span class="card-top__color">Колір</span>
        <ul class="card-top__color-list list-reset">
          <li class="card-top__item-color">
            <button class="card-top__color-btn card-top__color-btn--one btn-reset"
              aria-label="white selection button"></button>
          </li>
          <li class="card-top__item-color">
            <button class="card-top__color-btn card-top__color-btn--two btn-reset"
              aria-label="red selection button"></button>
          </li>
          <li class="card-top__item-color">
            <button class="card-top__color-btn card-top__color-btn--three btn-reset"
              aria-label="blue selection button"></button>
          </li>
          <li class="card-top__item-color">
            <button class="card-top__color-btn card-top__color-btn--four btn-reset"
              aria-label="black selection button"></button>
          </li>
        </ul>
        <div class="card-top__buy-btns">
          <a class="card-top__btn-top" href="#">Додати в кошик</a>
          <a class="card-top__btn-bottom" href="#">Купити в один клік</a>
        </div>
        <div class="card-top__terms">
          <button class="card-top__payment btn-reset">Оплата та доставка</button>
          <button class="card-top__return btn-reset">Повернення та обмін</button>
        </div>
        <h3 class="card-top__subtitle">
          Інформація про товар
        </h3>
        <p class="card-top__descr">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing
          elit.
        </p>
      </div>
    </div>
  </div>
</div>
