<header class="header">
  <div class="container header__container">


    <a class="logo" href="#">
      <img src="img/logo.svg" width="129" height="16" alt="site logo">
    </a>

    <div class="header__nav-inner">
      <nav class="nav header__nav">
        <ul class="header__list list-reset">
          <li class="header__item header__item--current">
            <a class="header__link" href="#">Жінки</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Чоловіки</a>
          </li>
          <li class="header__item header__item--current">
            <label class="search">
              <span class="search-title">Пошук</span>
              <input class="search-field" type="search">
            </label>
          </li>
        </ul>
      </nav>
      <div class="header__btns">
        <button class="header__btn header__btn--current  btn-reset" type="button"
          aria-label="Ukrainian language selection button">Ua</button>
        <button class="header__btn btn-reset" type="button" aria-label="English language selection button">En</button>
      </div>
    </div>

    <ul class="shop-nav header__shop-nav list-reset">
      <li class="shop-nav__item">
        <a class="shop-nav__link shop-nav__link--user" href="#"
          aria-label="icon in the form of a person to go to your personal account"></a>
      </li>
      <li class="shop-nav__item">
        <a class="shop-nav__link shop-nav__link--favourite" href="#"
          aria-label="icon in the form of a heart to go to favorites"></a>
      </li>
      <li class="shop-nav__item">
        <a class="shop-nav__link shop-nav__link--cart" href="#"
          aria-label="icon in the form of a shopping cart to go to the cart"></a>
      </li>
      <button class="hamburger hamburger--minus" type="button"
        aria-label="menu button to open additional sections of site navigation" aria-controls="navigation">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
        <span class="hamburger-label">menu</span>
      </button>
    </ul>


  </div>
</header>
