<header class="header">
  <div class="container header__container">
    <a class="logo" href="#">
      <img src="img/logo.svg" width="129" alt="site logo">
    </a>
    <div class="header__nav-inner">
      <nav class="nav header__nav">
        <ul class="header__list list-reset">
          <li class="header__item header__item--current">
            <a class="header__link" href="#">Жінки</a>
          </li>
          <li class="header__item hover-text">
            <a class="header__link " href="#">Чоловіки</a>
          </li>
          <li class="header__item header__item--current">
            <label class="search">
              <span class="search-title">Пошук</span>
              <input class="search-field" type="search">
            </label>
          </li>
        </ul>
      </nav>
      <div class="header__btns">
        <button class="header__btn header__btn--current  btn-reset"
          aria-label="Ukrainian language selection button">Ua</button>
        <button class="header__btn btn-reset" aria-label="English language selection button">En</button>
      </div>
    </div>
    <ul class="shop-nav header__shop-nav list-reset">
      <li class="shop-nav__item">
        <a class="shop-nav__link shop-nav__link--user" href="#" aria-label="go to user cabinet"></a>
      </li>
      <li class="shop-nav__item">
        <a class="shop-nav__link shop-nav__link--favourite" href="#" aria-label="go to favourite"></a>
      </li>
      <li class="shop-nav__item">
        <a class="shop-nav__link shop-nav__link--cart" href="#" aria-label="go to cart"></a>
      </li>
      <button class="hamburger hamburger--minus" type="button" aria-label="menu button navigation"
        aria-controls="navigation">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
        <span class="hamburger-label">menu</span>
      </button>
    </ul>
  </div>
</header>
